celery
daphne
Django
django-celery-beat
django-celery-results
django-oauth-toolkit
django-timezone-field
djangorestframework
graphene-django
instructor
numpy
openai
opencv-python
paddlepaddle
paddleocr
psycopg2-binary
python-dotenv
python3-logstash
redis